uhub-sapi/src/main/mule/implementations/get-covid-reports.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	   <flow name="get:\reports:uhub-sapi-config">
        <set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationID" doc:id="e6536092-7660-4fc7-b821-bab1408a2f1b" variableName="correlationId"/>
		<logger level="DEBUG" doc:name="Start Logger" doc:id="6181c74d-e4fa-478b-84fb-32da24454dcf" message="'transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: &quot;Started get covid case &quot;'"/>
		<ee:transform doc:name="Prepare DynamicQuery" doc:id="dc4a5a68-9e6d-4a06-892e-6cbf2d5c85d7" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="reportsDynamicQuery" ><![CDATA[if(!isEmpty(attributes.queryParams.state)) (
	"select count(*) as count, case_type, state from cvd_case_master where state='" ++ upper(attributes.queryParams.state)++ "' group by case_type, state"
)
else(
	"select count(*) as count , case_type, state from cvd_case_master group by case_type, state"
)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="fetch-case-reports-sub-flow" doc:id="53ababba-aff6-47fa-8b8d-cda21ed8583d" name="fetch-case-reports-sub-flow" />
		<ee:transform doc:name="Prepare Response">
            <ee:message>
             <ee:set-payload><![CDATA[%dw 2.0
output application/json
fun vaccinatedByState(state) = (payload filter(($.STATE == state as String) and ($.CASE_TYPE == "vaccinated")) map {
	COUNT: $.COUNT
})[0]
---
((payload groupBy($.STATE) mapObject {
	caseReports: {
		state: $$,
		reports: {
			total: ($.COUNT reduce $ + $$) - (vaccinatedByState($$).COUNT as Number default 0),
			($ orderBy($.CASE_TYPE) map {
				($.CASE_TYPE): $.COUNT
			})
		}
	}
}).*caseReports) default []
]]></ee:set-payload>
            </ee:message>
			
</ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="a307376f-a25d-471d-a662-65c6a88277a6" />
    
</flow>
 
	
	</mule>
